.disabled\:bg-gray-200:disabled {
    background-color: #edf2f7;
}

.disabled\:text-gray-600:disabled {
    color: #718096;
}

.disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed;
}

.template-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}

.min-w-100px {
    min-width: 100px;
}

.max-w-90vw {
    max-width: 90vw;
}

.bottom-16 {
    bottom: -4rem;
}